Chameleon==2.4.0
Jinja2==2.6
Mako==0.4.2
MarkupSafe==0.15
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.4.2
Pygments==1.4
Sphinx==1.0.7
WebOb==1.1rc1
distribute==0.6.19
docutils==0.8.1
pyramid==1.2a3
repoze.lru==0.3
translationstring==0.3
venusian==1.0a1
wsgiref==0.1.2
zope.component==3.10.0
zope.configuration==3.7.4
zope.deprecation==3.4.1
zope.event==3.5.1
zope.i18nmessageid==3.6.1
zope.interface==3.7.0
zope.schema==3.8.0
