<div id="chatter-panel">
    <div class="chatter-content clearfix">
        <div class="on-your-mind">
            <h3>On your mind...</h3>
            <form class="form-stacked" href="#">
                <div class="clearfix">
                    <div class="input">
                        <textarea id="mywords" name="mywords"></textarea>
                        <span class="help-block tips">Tips: Use @username, #tag, and #this for this page</span>
                    </div>
                </div>
                <div class="actions">
                    <input type="submit" value="speak" class="btn primary">
                </div>
            </form>
        </div>
        {{#streams}}
        <div class="{{class}}">
            <h3>{{title}}</h3>
            <div class="stream-items">
                {{#items}}
                <div class="stream-item clearfix">
                    <div class="stream-image">
                        <img src="{{image_url}}">
                    </div>
                    <div class="stream-content">
                        {{text}}
                    </div>
                    <div class="stream-footer">
                        <span class="more">more</span>
                        <span class="timestamp">{{info}}</span>
                    </div>
                </div>
                {{/items}}
            </div>
        </div>
        {{/streams}}
    </div>
</div>
