.pushContainer() {
    position: relative;
    overflow: hidden;
    padding: .889em;
    background-color: @pushDownBg;
    background-image: url('../img/vertical_stripes.png');
    background-position: top left;
    background-repeat: repeat;
    &:before {
        content: "";
        font-size: 0;
        position: absolute;
        top: 0;
        left: -25%;
        width: 150%;
        height: 100%;
        @shadow: inset 0 .2em 15px rgba(0,0,0,0.4),inset 0 -0.1em 20px rgba(0,0,0,0.4);
        .css3_box_shadow(@shadow);
        pointer-events: none;
    }
    .thereIsMore {
        text-shadow: 0 1px 0 rgba(255,255,255,.4);
    }
}
.pushdown {
    .pushContainer();
    display: none;
}
.open .pushdown {
    display: block;
}
.pushdown-toggle:hover {
    cursor: pointer;
}
#chatter-panel,
#radar-panel {
    .pushContainer();
    font-family: @fancyFont;
}
.selectedPushDown,
.selectedPushDown a {
    background-color: @pushDownBg;
    background-image: url('../img/vertical_stripes.png');
    background-position: top left;
    background-repeat: repeat;
    position: relative;   
    z-index: 1; 
}
.selectedPushDown {
    bottom: -2.25em;
}
.selectedPushDown a {
    top: -2.25em;
    color: #fff !important;
    text-shadow: none !important;
}
.pushdownContent {
    a {
        color: @baseFontColor;
    }
    a.goto {
        color: @white;
    }
    h3 {
        margin-top: 0;
        font-size: 1.18em;
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(255,255,255,.3);
    }
    .stream-item {
        display: block;
        position: relative;
        font-size: 0.889em;
        margin-bottom: .2em;
        .gradientBar(lighten(@pushDownBg, 15%), lighten(@pushDownBg, 7%));
        text-shadow: none;
        .css3_border_radius(.3em);
        padding: .5em .73em;
        a {
            color: @baseFontColor;
        }
    }
    .stream-content {
        margin-left: 48px;
        padding-left: .73em;
        min-height: 48px;
        p {
            margin-bottom: 0;
        }
    }
    .avatar {
        position: absolute;
        left: .73em;
        top: .73em;
    }
    .messagetext {
        display: block;
        line-height: normal;
        font-size: 0.9em;
    }
    a.messagetext {
        color: #555;
    }
    a.messagetext:hover {
        color: #222;
    }
    .stream-footer {
        position: absolute;
        top: .5em;
        right: .73em;
    }
    .timestamp {
        float: right;
        .smaller();
        color: fadeOut(@baseFontColor, 40%);
    }
}
ul#sections {
    padding: 10px 0;
    margin: 0x;
    list-style: none;
    font-size: 0.9em;
    float: left;
    li {
        background: #f1eade;
        .css3_border_radius(10px);
        margin: 0 5px;
        padding: 5px 10px;
        display: inline-block;
    }
    li:nth-child(1) {
        margin-left: 0;
    }
    li:nth-last-child {
        margin-right: 0;
    }
    li.selected {
        background: #ffffff;
    }
}
.stream1 {
    .col(4);
}
.stream2 {
    .col(4);
}
.stream3 {
    .col(4);
}

#radar-panel {
    .radar-content {
        background-color: @bodyBg;
        padding: 10px 10%;
        .css3_border_radius(10px);
        .radar-header {
        position: relative;
            h2 {
                font-family: @baseFont;
                width: 150px;
                float: left;
                margin: 0;
                padding: 8px 0;
            }

        }

        .stream-item {
            font-family: @fancyFont;
            font-size: 0.7em;
            margin-bottom: 20px;
            display: block;
            .stream-image {
                width: 42px;
                height: 42px;
                float: left;
            }
            .stream-content, .stream-footer {
                margin-left: 42px;
                padding-left: 10px;
                display: block;
            }
            .stream-footer {
                .more {
                    float: left;
                }
                .timestamp {
                    float: right;
                }

            }
        }
    }
}