<div id="chatter-panel">
    <div class="pushdownContent clearfix">
        <div id="on-your-mind">
            <h3>On your mind...</h3>
            <form class="form-stacked" href="#">
                <div class="clearfix">
                    <div class="input">
                        <textarea id="mywords" name="mywords"></textarea>
                        <span class="help-block tips">Tips: Use @username, #tag, and #this for this page</span>
                    </div>
                </div>
                <div class="actions">
                    <input type="submit" value="speak" class="btn primary">
                    <a class="chatter-options-link" href="#" style="float: right; margin-right: 60px; margin-top: 4px;">Options</a>
                    <div class="chatter-options-panel">
                        <div>
                            <span style="margin-right: 16px">To:</span>
                            <input name="chatter-option-to" type="radio" value="allkarl" checked="checked"/>
                            <span style="margin-right: 8px;">All KARL</span>
                            <input name="chatter-option-to" type="radio" value="staff" />
                            <span style="margin-right: 8px;">Staff</span>
                            <input name="chatter-option-to" type="radio" value="users" />
                            <span style="border: 1px solid; padding: 0 4px; margin-right: 8px;">users</span>
                        </div>
                        <div style="margin-top: 8px;">
                            Attachments:
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {{#streams}}
        <div id="{{class}}">
            <h3>{{title}}</h3>
            <div class="stream-items">
                {{#items}}
                <div class="stream-item clearfix">
                    <a href="#">
                        <figure class="image-left">
                            <img src="{{image_url}}" />
                        </figure>
                        <div class="stream-content">
                            {{text}}
                        </div>
                        <div class="stream-footer">
                            <span href="#" class="more">more</span>
                            <span class="timestamp">{{info}}</span>
                        </div>
                    </a>
                </div>
                {{/items}}
            </div>
        </div>
        {{/streams}}
    </div>
</div>
