<div id="radar-panel">
    <div class="pushdownContent clearfix">
        <div class="radar-header clearfix">
            <h2>Radar</h2>
            <ul id="sections">
                <li class="selected">Home</li>
                <li>Timeslice</li>
                <li>Topics</li>
                <li>Featured</li>
                <li>Apps</li>
                <li>Configure</li>
            </ul>
        </div>
        
        <div class="panel">
            {{#streams}}
            <div class="{{class}}">
                <h3>{{title}}</h3>
                <div class="stream-items">
                    {{#items}}
                    <div class="stream-item clearfix">
                        <div class="stream-image">
                            <img src="{{image_url}}">
                        </div>
                        <div class="stream-content">
                            {{text}}
                        </div>
                        <div class="stream-footer">
                            <span class="more">more</span>
                            <span class="timestamp">{{info}}</span>
                        </div>
                    </div>
                    {{/items}}
                </div>
            </div>
            {{/streams}}
        </div>
        
        <div class="panel" style="display: none">
            <h2>Vote for the Office Christmas Menu</h2>
            <form href="#">
                <div class="clearfix">
                    <label id="options">What would you like for the main course ?</label>
                    <div class="input">
                        <ul class="inputs-list">
                            <li>
                                <label>
                                    <input type="checkbox" name="options" value="option1">
                                    <span>Turducken</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" name="options" value="option2">
                                    <span>Free-range chicken</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" name="options" value="option3">
                                    <span>A partridge, served in a tree of pears</span>
                                </label>
                            </li>

                        </ul>
                    </div>
                </div>
                
                <div class="clearfix">
                    <label id="options">How about desert ?</label>
                    <div class="input">
                        <ul class="inputs-list">
                            <li>
                                <label>
                                    <input type="checkbox" name="options" value="option1">
                                    <span>Turducken</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" name="options" value="option2">
                                    <span>Free-range chicken</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" name="options" value="option3">
                                    <span>A partridge, served in a tree of pears</span>
                                </label>
                            </li>

                        </ul>
                    </div>
                </div>
                
                <div class="actions">
                    <input type="submit" value="Vote" class="btn primary" style="margin-left: 40px;">
                </div>
            </form>

        </div>
    </div>
</div>
