<div id="radar-panel">
    <div class="pushdownContent clearfix">
        <div id="{{class}}" class="panel">
            <h3>Radar</h3>
            <ul class="pushDownList pushDownNavigation">
                <li class="selected"><a href="#">Home <span class="messageCounter">3</span></a></li>
                <li><a href="#">Approvals</a></li>
                <li><a href="#">Topics <span class="messageCounter">4</span></a></li>
                <li><a href="#">Featured</a></li>
                <li><a href="#">Apps</a></li>
                <li><a href="#">Configure</a></li>
            </ul>
        </div>

        {{#communities}}
            <div id="{{id}}" class="panel">
                <h3>{{title}}</h3>
                <ul class="pushDownList">
                    {{#items}}
                    <li>
                        <a href="{{url}}">
                            <h4 class="pushDownList-title">{{title}}</h4>
                            <div class="pushDownList-info">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</div>
                        </a>
                        <div class="pushDownList-helper">
                            <a href="" class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {{#tools}}
                                <li><a class="panel-item-tools" href="{{url}}">{{title}}</a></li>
                                {{/tools}}
                            </ul>
                        </div>
                    </li>
                    {{/items}}
                </ul>
            </div>
        {{/communities}}

        {{#activity}}
            <div id="{{id   }}" class="panel">
                <h3>{{title}}</h3>
                <ul class="pushDownList">
                    {{#items}}                    
                    <li>
                        <a href="#">
                            <h4 class="pushDownList-title">{{title}}</h4>
                            <div class="pushDownList-info">
                                {{type}}<br />
                                <cite>Located at  {{path}}</cite>
                            </div>
                        </a>
                        <div class="pushDownList-helper">
                            <time datetime="{{modificationDate}}">{{modificationDateReadable}}</time>
                        </div>
                    </li>
                    {{/items}}
                </ul>
            </div>
        {{/activity}}
    </div>
</div>