<div id="radar-panel">
    <div class="pushdownContent clearfix">
        <div id="{{class}}" class="panel">
            <h3>Radar</h3>
            <ul id="sections" class="nav nav-list">
                <li class="active"><a href="#">Home <span class="messageCounter">3</span></a></li>
                <li><a href="#">Approvals</a></li>
                <li><a href="#">Topics <span class="messageCounter">4</span></a></li>
                <li><a href="#">Featured</a></li>
                <li><a href="#">Apps</a></li>
                <li><a href="#">Configure</a></li>
            </ul>
        </div>

        {{#communities}}
            <div id="{{class}}" class="panel">
                <h3>{{title}}</h3>
                {{#items}}
                <ul>
                    <li>
                        <a href="#"><h4>{{title}}</h4></a>
                        {{#tools}}
                        <ul>
                            <li><a href="{{url}}">{{title}}</a></li>
                        </ul>
                        {{/tools}}
                    </li>
                </ul>
                {{/items}}
            </div>
        {{/communities}}

        {{#activity}}
            <div id="{{class}}" class="panel">
                <h3>{{title}}</h3>
                {{#items}}
                <ul>
                    <li>
                        <a href="#">
                            <h4>{{title}}</h4>
                            <div>
                                <small>{{type}}</small>
                                <span>{{modificationDate}}</span>
                            </div>
                        </a>
                    </li>
                </ul>
                {{/items}}
            </div>
        {{/activity}}
    </div>
</div>