// Colors
/* Color schema http://kuler.adobe.com/#themeID/186890 */
@baseFontColor: #222;
@bodyBg: #eadecc;     /* Creamy. The main background color for the content */
@baseColor1: #8F806F; /* Dark brown */
@baseColor2: #DBCFC1; /* Light brown */
@baseColor3: #61818F; /* Dark blue */
@baseColor4: #C1D3DB; /* Light blue */

/* Helping colors */
@sectionBlue: saturate(lighten(@baseColor3, 16%), 13%);
@linkColor: saturate(@baseColor3, 30%);
@pushDownBg: #99a1a8;


// Typography
@baseFontSize: 15;
@space: 1.333;
@baseFont: Georgia, serif;
@fancyFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
@smallestbaseFont: Verdana, sans-serif;


// Grid
@column-width: 60;
@gutter-width: 20;
@columns: 12;
@_gridsystem-width: (@column-width*@columns) + (@gutter-width*@columns) * 1px;
@total-width: 100%;

// TWITTER BOOTSTRAP BRIGING VARIABLES
// (adjust if some bootstrap's default colors are leaking somewhere)
@baseLineHeight: @space * 1em;
@grayDark: @baseFontColor;
@gray: @baseFontColor;
@white: lighten(@bodyBg, 10%);
@black: #000;
@grayLight: #999;
@green: #46a546;
@primaryButtonBackground: darken(@sectionBlue, 10%);
@orange: #f89406;
@zindexDropdown:        1000;
@zindexPopover:         1010;
@zindexTooltip:         1020;
@zindexFixedNavbar:     1030;
@zindexModalBackdrop:   1040;
@zindexModal:           1050;