/* Colors definition */
/* Color schema http://kuler.adobe.com/#themeID/186890 */
@baseFontColor: #222;
@bodyBg: #eadecc;     /* Creamy. The main background color for the content */
@baseColor1: #8F806F; /* Dark brown */
@baseColor2: #DBCFC1; /* Light nrown */
@baseColor3: #61818F; /* Dark blue */
@baseColor4: #C1D3DB; /* Light blue */

@linkColor: saturate(@baseColor3, 30%);