{% extends main_template %}

{% block content %}

<!-- Main hero unit for a primary marketing message or call to action -->
{{panel('hero', title='Jinja2')}}

<!-- Example row of columns -->
<div class="row">
  {{panel('headings')}}
</div>

<div class="row">
  {{panel('contextual_panels')}}
</div>

{% endblock %}
